html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'myriad';
  src: url(file:///Users/danielopatich1/dev/homework/week2/friday/fonts/myriad.otf); }

* {
  box-sizing: border-box;
  font-family: 'myriad'; }

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/bg.jpg");
  background-repeat: no-repeat;
  position: relative;
  max-width: 100%; }

main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  main:last-child {
    margin-right: 0; }

.wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }

header.masthead {
  height: 200px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  header.masthead::after {
    clear: both;
    content: "";
    display: table; }

.buttonsTop {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .buttonsTop:last-child {
    margin-right: 0; }

button.facebook {
  height: 60px;
  width: 60px;
  background: #455A95;
  padding: 13px 20px; }

button.rss {
  height: 60px;
  width: 60px;
  background: #CB8F3C;
  padding: 12px 17px; }

button.twitter {
  height: 60px;
  width: 60px;
  background: #6B8EC5;
  padding: 12px 14px; }

button.youtube {
  height: 60px;
  width: 60px;
  background: #B03931;
  padding: 12px 15px; }

button.menu-tabs {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  button.menu-tabs:last-child {
    margin-right: 0; }

.menu-tabs {
  background: #B12B32;
  color: #fff;
  float: right;
  padding: 8px 20px 5px;
  box-shadow: !important none;
  margin-bottom: 15px; }

.social-wrap a {
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  opacity: .6;
  text-align: center;
  margin-bottom: 5px; }

button.button {
  height: 60px;
  width: 60px;
  background: #B03931;
  padding: 12px 15px; }

section.hero {
  display: block;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border: 10px solid white;
  box-shadow: 2px 4px #ccc; }
  section.hero:last-child {
    margin-right: 0; }
  section.hero div.hero-photoman {
    height: 340px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0;
    background-image: url("../assets/top-image.png");
    background-position: -150px -150px; }
    section.hero div.hero-photoman:last-child {
      margin-right: 0; }
    section.hero div.hero-photoman .hero-logo {
      margin: 50px; }
      section.hero div.hero-photoman .hero-logo .hero-grid {
        opacity: .6;
        background-image: url(https://github.com/theironyard-frontend-nashville/assignments/blob/cohort2/week02/thur/assets/grid.png?raw=true);
        background-position: -150px 100px;
        background-repeat: repeat-y; }

#content {
  display: block; }

article.content-posts {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 50px; }
  article.content-posts:last-child {
    margin-right: 0; }
  article.content-posts .post {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    height: 350px;
    background: #FAFAFA;
    text-align: left;
    font-size: 15px;
    padding: 20px;
    box-shadow: 2px 4px #ccc; }
    article.content-posts .post:last-child {
      margin-right: 0; }
    article.content-posts .post button.readMore {
      background: none;
      border: none;
      color: #B12B32; }
      article.content-posts .post button.readMore h4 {
        padding-left: 96px; }

.post h3 {
  color: #323230;
  font-size: 1.55em; }

.post h5 {
  color: #A4A4A4;
  font-size: .8em; }

section.skaters {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  overflow: auto;
  margin-bottom: 35px; }
  section.skaters:last-child {
    margin-right: 0; }

.lance {
  background: url(https://github.com/theironyard-frontend-nashville/assignments/blob/cohort2/week02/thur/assets/sk8er-4.png?raw=true); }

.rodney {
  background: url(https://github.com/theironyard-frontend-nashville/assignments/blob/cohort2/week02/thur/assets/sk8er-3.png?raw=true); }

.steve {
  background: url(https://github.com/theironyard-frontend-nashville/assignments/blob/cohort2/week02/thur/assets/sk8er-1.png?raw=true); }

figure.boards {
  background: #F9F9F9;
  margin: 0;
  padding: 25px 40px;
  box-shadow: 2px 4px #ccc;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  figure.boards:last-child {
    margin-right: 0; }
  figure.boards img {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 7.44167%;
    opacity: .75; }
    figure.boards img:last-child {
      margin-right: 0; }

article.contact {
  display: block;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: #F9F9F9;
  color: #444444;
  font-size: .9em;
  margin-top: 40px;
  margin-bottom: 100px;
  box-shadow: 2px 4px #ccc;
  padding: 0px; }
  article.contact:last-child {
    margin-right: 0; }
  article.contact .contact-info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding: 10px 30px; }
    article.contact .contact-info:last-child {
      margin-right: 0; }
    article.contact .contact-info h3 {
      font-size: 30px;
      color: #383934; }

#social-links {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  position: relative;
  padding: 0px; }

button.fa-facebook {
  background: #3E3E3E;
  opacity: .9; }

button.fa-rss {
  background: #818181;
  opacity: .9; }

button.fa-twitter {
  background: #3E3E3E;
  opacity: .9; }

button.fa-youtube {
  background: #3E3E3E;
  opacity: .9; }

form.subscribe {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 0;
  margin-left: 8.5298%;
  padding: 40px;
  width: 35.16157%; }
  form.subscribe:last-child {
    margin-right: 0; }
  form.subscribe input, form.subscribe text-area {
    margin-top: 5px;
    margin-bottom: 10px;
    box-shadow: 2px 0px 2px 2px #ccc; }

.submit-style {
  background: #B12B32;
  color: #fff;
  float: right;
  padding: 8px 60px 5px;
  box-shadow: !important none; }
