html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }

* {
  box-sizing: border-box; }

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/bg.jpg");
  background-repeat: no-repeat;
  position: relative;
  max-width: 100%; }

main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  main:last-child {
    margin-right: 0; }

.wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }

header.masthead {
  height: 200px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  header.masthead::after {
    clear: both;
    content: "";
    display: table; }

.buttonsTop {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .buttonsTop:last-child {
    margin-right: 0; }

div.facebook {
  height: 60px;
  width: 60px;
  background: #455A95;
  padding: 13px 20px; }

div.rss {
  height: 60px;
  width: 60px;
  background: #CB8F3C;
  padding: 12px 17px; }

div.twitter {
  height: 60px;
  width: 60px;
  background: #6B8EC5;
  padding: 12px 14px; }

div.youtube {
  height: 60px;
  width: 60px;
  background: #B03931;
  padding: 12px 15px; }

button.menu-tabs {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  button.menu-tabs:last-child {
    margin-right: 0; }

.social-wrap a {
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  opacity: .6;
  text-align: center; }

button.button {
  height: 60px;
  width: 60px;
  background: #B03931;
  padding: 12px 15px; }

section.hero {
  display: block;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border: 10px solid white;
  box-shadow: 2px 4px #ccc; }
  section.hero:last-child {
    margin-right: 0; }
  section.hero div.hero-photoman {
    height: 340px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0;
    background-image: url("../assets/top-image.png");
    background-position: -150px -150px; }
    section.hero div.hero-photoman:last-child {
      margin-right: 0; }
    section.hero div.hero-photoman .hero-logo {
      margin: 50px; }
      section.hero div.hero-photoman .hero-logo .hero-grid {
        opacity: .6;
        background-image: url(https://github.com/theironyard-frontend-nashville/assignments/blob/cohort2/week02/thur/assets/grid.png?raw=true);
        background-position: -150px 100px;
        background-repeat: repeat-y; }

#content {
  display: block; }

article.content-posts {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 50px; }
  article.content-posts:last-child {
    margin-right: 0; }
  article.content-posts .post {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    height: 350px;
    background: #FAFAFA;
    text-align: left;
    padding: 20px;
    box-shadow: 2px 4px #ccc; }
    article.content-posts .post:last-child {
      margin-right: 0; }
    article.content-posts .post button.readMore {
      background: none;
      border: none;
      color: #B12B32; }
      article.content-posts .post button.readMore h4 {
        padding-left: 96px; }

section.skaters {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  overflow: auto;
  margin-bottom: 35px; }
  section.skaters:last-child {
    margin-right: 0; }

.lance {
  background: url(https://github.com/theironyard-frontend-nashville/assignments/blob/cohort2/week02/thur/assets/sk8er-4.png?raw=true); }

.rodney {
  background: url(https://github.com/theironyard-frontend-nashville/assignments/blob/cohort2/week02/thur/assets/sk8er-3.png?raw=true); }

.steve {
  background: url(https://github.com/theironyard-frontend-nashville/assignments/blob/cohort2/week02/thur/assets/sk8er-1.png?raw=true); }

figure.boards {
  background: #F9F9F9;
  margin: 0;
  padding: 25px 40px;
  box-shadow: 2px 4px #ccc;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  figure.boards:last-child {
    margin-right: 0; }
  figure.boards img {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 7.44167%;
    opacity: .75; }
    figure.boards img:last-child {
      margin-right: 0; }

article.contact {
  display: block;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: #F9F9F9;
  margin-top: 40px;
  margin-bottom: 100px;
  box-shadow: 2px 4px #ccc; }
  article.contact:last-child {
    margin-right: 0; }
  article.contact .contact-info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding: 35px; }
    article.contact .contact-info:last-child {
      margin-right: 0; }

#social-links {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  opacity: .6; }

button.fa-facebook {
  background: #3E3E3E; }

button.fa-rss {
  background: #818181; }

button.fa-twitter {
  background: #3E3E3E; }

button.fa-youtube {
  background: #3E3E3E; }

form.subscribe {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 0;
  margin-left: 8.5298%;
  padding: 40px; }
  form.subscribe:last-child {
    margin-right: 0; }
  form.subscribe input, form.subscribe text-area {
    margin-top: 5px;
    margin-bottom: 10px; }
