@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
// $visual-grid: true;
@import "../bower_components/neat/app/assets/stylesheets/neat";

@font-face {
  font-family: 'myriad';
  src: url(file:///Users/danielopatich1/dev/homework/week2/friday/fonts/myriad.otf); }

* {
  box-sizing: border-box;
  font-family: 'myriad';
}

// $mobile: new-breakpoint(max-width 480px);
// $desktop: new-breakpoint(min-width 1140px);


body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/bg.jpg');
  background-repeat: no-repeat;
  position: relative;
  max-width: 100%;
}

main {
  @include span-columns(12);
}

.wrapper {
  @include outer-container;
  position: relative;
}
// END OF MAIN STUFF //

header.masthead {
  height: 130px;
  @include outer-container;
}

.buttonsTop {
  @include span-columns(12);
}

div.nav-wrap {
  color: #fff;
}

nav#site-nav.site-head {
  @include outer-container;
  div.nav-wrap {
    @include span-columns(4 of 8);
    .social-wrap {
    @include span-columns(4 of 8);
    }
  }
}

ul.nav-links {
  float: right;
}

.social-wrap a {
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  opacity: .6;
  text-align: center;
  margin-bottom: 5px;
}

button.facebook {
  height: 59px;
  width: 59px;
  background: #455A95;
  padding: 13px 20px;
  border-left: 3px dotted #fff;
  border-spacing: 3px;
}

button.rss {
  height: 59px;
  width: 59px;
  background: #CB8F3C;
  padding: 12px 17px;
}

button.twitter {
  height: 59px;
  width: 59px;
  background: #6B8EC5;
  padding: 12px 14px;
}

button.youtube {
  height: 59px;
  width: 59px;
  background: #B03931;
  padding: 12px 15px;
}


button.menu-tabs {
  @include span-columns(3 of 12);
}

.menu-tabs {
  background: #B12B32;
  color: #fff;
  float: right;
  padding: 8px 20px 5px;
  box-shadow: !important none;
  margin-bottom: 15px;
}

button.button {
  height: 60px;
  width: 60px;
  background: #B03931;
  padding: 12px 15px;
}
// <!-- end of header -->


section.hero {
  display: block;
  @include span-columns(12);
  border: 10px solid white;
  box-shadow: 2px 4px #ccc;
  div.hero-photoman {
    height: 340px;
    @include span-columns(12);
    @include omega();
    background-image: url('../assets/top-image.png');
    background-position: -150px -150px;
    .hero-logo {
      margin: 50px;
      .hero-grid {
        opacity: .6;
        background-image: url(https://github.com/theironyard-frontend-nashville/assignments/blob/cohort2/week02/thur/assets/grid.png?raw=true);
        background-position: -150px 100px;
        background-repeat: repeat-y;
      }
    }
  }
}


// <!-- end of hero -->


#content {
  display: block;
  // @include span-columns(8);
}

article.content-posts {
  @include span-columns(12);
  margin-top: 70px;
  margin-bottom: 50px;
  .post {
    @include span-columns(4 of 12);
    height: 350px;
    background: #FAFAFA;
    text-align: left;
    font-size: 15px;
    padding: 20px;
    box-shadow: 2px 4px #ccc;
    button.readMore {
      background: none;
      border: none;
      color: #B12B32;
      h4 {
        padding-left: 96px;
      }
    }
  }
}

.post h3 {
 color: #323230;
 font-size: 1.55em;
}

.post h5 {
  color: #A4A4A4;
  font-size: .8em;
}
// <!-- end of content -->
section.skaters {
  @include span-columns(12);
  .skateBottom {
    @include span-columns(8 of 12);
    .tommy {
      @include span-columns(4 of 12);
    }
  }
}


section.skaters {
  @include span-columns(12);
  overflow: auto;
  margin-bottom: 35px;
  .skateTop {
    @include span-columns(8);
    .lance {
      @include span-columns(4 of 8);
      .rodney {
        @include span-columns(4 of 8);
      }
    }
  }
}


// MAKE TOMMY FIRST SO OTHER //

// REMEMBER TO NEST IN THIS ORDER --LEFT,TOP,BOTTOM...RIGHT LAST-- 4OF8,4OF8,8OF12,4OF12

// SKATER IMAGE LINKS //

.lance {
  background: url(https://github.com/theironyard-frontend-nashville/assignments/blob/cohort2/week02/thur/assets/sk8er-4.png?raw=true);
  height: 220px;
  border: 3px solid #fff;
  background-position: 22em -1em;
  span {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    padding: 85px 0px 0px 10px;
  }
}

.rodney {
  background: url(https://github.com/theironyard-frontend-nashville/assignments/blob/cohort2/week02/thur/assets/sk8er-3.png?raw=true);
  height: 220px;
  border: 3px solid #fff;
  background-position: -6em -1em;
  span {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding: 85px 0px 0px 10px;
    font-weight: bold;
  }
}

.steve {
  background: url(https://github.com/theironyard-frontend-nashville/assignments/blob/cohort2/week02/thur/assets/sk8er-1.png?raw=true);
  height: 220px;
  border: 3px solid #fff;
  background-size: 47em 23em;
  background-position: -0em -6em;
  span {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    padding: 90px 0px 0px 220px;
  }
}

.tommy {
  background: url(https://github.com/theironyard-frontend-nashville/assignments/blob/cohort2/week02/thur/assets/sk8er-2.png?raw=true);
  height: 440px;
  border: 3px solid #fff;
  background-position: 20em -2em;
  span {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    padding: 200px 0px 0px 0px;
  }
}
// <!-- end of skaters -->

figure.boards {
  background: #F9F9F9;
  margin: 0;
  padding: 25px 40px;
  box-shadow: 2px 4px #ccc;

  @include span-columns(12);
    img {
      @include span-columns(1 of 10);
      opacity: .75;
    }
}

// <!-- end of boards -->

article.contact {
  display: block;
  @include span-columns(12);
  background: #F9F9F9;
  color: #444444;
  font-size: .9em;
  margin-top: 40px;
  margin-bottom: 100px;
  box-shadow: 2px 4px #ccc;
  padding: 0px;
  .contact-info {
    @include span-columns(6);
    padding: 10px 30px;
    h3 {
      font-size: 30px;
      color: #383934;
    }
  }
}

#social-links {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  position: relative;
  padding: 0px;
}

button.fa-facebook {
  background: #3E3E3E;
  opacity: .9;
}

button.fa-rss {
  background: #818181;
  opacity: .9;
}

button.fa-twitter {
  background: #3E3E3E;
  opacity: .9;
}

button.fa-youtube {
  background: #3E3E3E;
  opacity: .9;
}


form.subscribe {
  @include span-columns(4);
  @include omega();
  @include shift(1);
  padding: 40px;
  width: 35.16157%;
  input, text-area {
    margin-top: 5px;
    margin-bottom: 10px;
    box-shadow: 2px 0px 2px 2px #ccc;
  }
}
 .submit-style {
   background: #B12B32;
   color: #fff;
   float: right;
   padding: 8px 60px 5px;
   box-shadow: !important none;
 }
//
// div.skateArrow {
//    height: 70px;
//    width: 80px;
//    background: #B12B32;
//    padding: 0 0 0 0;
//    margin: 0 0 0 0;
//    a {
//      text-align: center;
//      text-decoration: none;
//      color: #fff;
//    }
//  }

// input.text, .email {
//   width: 80%;
// }
// <!-- end of contact -->
